
  @import url('http://fonts.cdnfonts.com/css/perfect-dos-vga-437');


    .terminalContainer{
        font-family: 'Perfect DOS VGA 437', sans-serif;
        font-size: 24px;
        box-sizing: border-box;
        background-color: #00a;
        color: #f1f1f1;
        font-family: 'Perfect DOS VGA 437', sans-serif;
        height: 100%;

        .overlay {
            position:absolute;
            z-index:2;
            pointer-events: none;
            width: 100%;
            height: 100%;
            margin: 0;
        
            &.overlay--vignette {
                background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%, rgba(0,0,0,0.25) 100%);
            }
        
            &.overlay--scanline {
                background-image: linear-gradient(0deg, rgba(0,0,0,0) 25%, rgba(0,0,0,0.33) 25%, rgba(0,0,0,0.33) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.33) 75%, rgba(0,0,0,0.33) 100%);
                background-size: 4px 4px;
            }
          }

          .flex-full-justify {
            padding:20rem 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            
            > .flex-inner {
              max-width: 50rem;
            }
          }
          
          .archangelTitle {
            background-color: silver;
            color: #00a;
            padding: 0 1rem;
            font-size: 2rem;
            display: inline-block;
          }
          
          ul {
            list-style-type: none;
            padding-left: 1.5em;
            
            > li {
              position: relative;
              
              &:before {
                font-family: "Perfect DOS";
                color: #f1f1f1;
                content: "*";
                position: absolute;
                left: -1.5em;
                font-size:1rem;
              }
            }
          }
          
          .text-center {
            text-align: center;
          }
          
          .blink {
            animation: blink 1s steps(1) infinite;
          }
          
          @keyframes blink {
            66% {
              opacity: 0;
            }
          }
  }

  
  
  