.info-container {
    background-color: #1a0000;
    color: #ff4d4d;
    font-family: monospace;
    min-height: 100vh;

    .text-container {
        display: inline-block;
        border: solid 3px #ff4d4d;
        animation: boxShadow 1.6s infinite;
        padding-left: 20px;
        background-color: #00000060;
        width: 95%;
        margin-left: 29px;
        margin-top: 30px;
        

        p {
            font-family: monospace;
            font-size: 20px;
            color: #c3c3c3;
            margin: 30px 0px 40px 30px;
            text-shadow: 1px 1px #fff;
            animation: typing 6s steps(100, end) forwards;

            span {
                color:#ff4d4d;
                animation: textShadow 1.6s infinite;
            }

        }

        p.c1 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
        }

        p.c2 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 7s;
        }

        p.c3 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 13s;
        }

        p.c4 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 17s;
        }

        p.c5 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 23s;
        }

        p.c6 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 28s;
        }

        p.c7 {
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            animation-delay: 30s;
        }


    }

    .info-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
        text-decoration: none;
        color: #ff4d4d;
        font-family: 'elixia';
        font-size: 60px;
        margin-top: 50px;
        animation: textShadow 1.6s infinite, fadeIn 3s;
    }

}


@keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  