@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.main-container {
  background-color: #1a0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .main-btn {
    margin-bottom: 52px;
    font-family: monospace;
    width: 145px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    animation: glitch 750ms infinite, scan 2s infinite;
  }

  h1 {
    font-family: 'elixia';
    color:#ff4d4d;
    font-size: 100px;
    margin-bottom: 10px;
  }

  .rowContainer{
    display: flex;
    flex-direction: row;
  }
  .main-links {
    border: 7px solid #ff4d4d;
    background-color: #00000060;
    width: wrap;
    height: wrap;
    border-radius: 2px;
    animation: neon-effect-box 0.8s cubic-bezier(0.94, 0.46, 0.52, 1.16) infinite alternate;

    p {
      font-family: monospace;
      font-size: 30px;
      color:#69478f;
      text-align: center;
      padding: 10px;
    }
  }

  .main-notebook{
    $paper-color: #F1EDE9;
$paper-line: #94ACD4;
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');


.blocContainer {
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;

  .blocnotas {
    width: 300px;
    max-width: 600px;
    box-shadow: 10px 10px 40px rgba(black, .15);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }
  
  .top {
    width: 100%;
    height: 50px;
    background: #333;
    border-radius: 5px 5px 0 0;
  }
  
  .paper {
/*     width: 100%; */
    height: 100%;
    min-height: 100px;
    padding: 35px 20px;
    background: repeating-linear-gradient($paper-color, $paper-color 31px, $paper-line 31px, $paper-line 32px);
    font-family: 'Rajdhani', sans-serif;
    line-height: 32px;
    outline: 0;
    font-size: 22px;
  }
}

  }
}

/* .main-notebook {
  border: 7px solid #ff4d4d;
  background-color: #00000060;
} */

@keyframes glitch {
  0% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  5% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
    opacity: 0.75;
  }
  10% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  15% {
    -moz-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 0.75;
  }
  20% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  45% {
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    opacity: 0.75;
  }
  50% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  55% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 0.75;
  }
  60% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  75% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  80% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  85% {
    -moz-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    opacity: 0.75;
  }
  90% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  100% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
}
@keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 97%;
  }
  100% {
    top: 0%;
  }
}
